// Variables

$color-white: #ffffff;
$color-darkest: #141517;
$color-dark: #2c2e3f;
$color-accent-basic: #fe7865;
$color-accent-hover: #f17d4b;
$color-light: #fbf8f8;
$color-black: #000000;

// Viewports

$tablet-width: 768px;
$desktop-width: 1920px;
$mobile-width: 320px;

// Mixin
